name: Lint

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          lfs: true
          submodules: true

      - name: Fetch LFS files from submodules
        run: git submodule foreach --recursive 'git lfs pull'

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          python-version: "3.10"
          activate-environment: true
          enable-cache: false
      - name: Install Python
        run: |
          uv pip install pip
      - uses: pre-commit/action@v3.0.1
